.navbarContent{
    width: 17% !important;
    margin: 0;
    background-color: #153A65;
    text-align: center;
    height: fit-content;
    margin-bottom: 0;
    margin-top: auto;
    height: 100vh;
    display: block;
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto;
}
.navbarContent .option{
    color: #ffffff;
    font-size: 16px;
    list-style: none;
    margin-block: 15%;
}
.navbarContent .option a{
    text-decoration-line: none;
    margin-top: 5%;
}
.navbarContent ul{
    padding: 0;
}
.navbar img{
    width: 39px;
    margin: 5%;
}
.iconsNav{
    bottom: 0;
    position: fixed;
    width: 17%;
    padding-bottom: 1%;
}