.EntradaDeTexto, .Descripcion {
    font-size: 16px;
    height: 40px;
    width: 480px;
    text-align: center;
    background-color: white;
}

.EntradaDeTexto::file-selector-button {
    width: 480px;
    height: 24px;
    background-color: white;
  }

.Descripcion {
    font-size: 16px;
    height: 48px;
    width: 480px;
    text-align: center;
    background-color: white;
}

.Contrasena, .User{
    width: 480px;
    height: 40px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
    text-indent: 10px;
    outline: none;
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    -o-transition: box-shadow 1s;
    transition: box-shadow 1s;
    position: relative;
    background-color: #6d86a4;
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    margin-right: 35px;
}
.Contrasena:focus, .User:focus {
    box-shadow: 0px 0px 3px 1px rgb(12, 6, 41)
}
