.Text, .Description, .Date, .Select {
    font-size: 18px;
    height: 40px;
    width: 480px;
    text-align: center;
    content: "";
}

.Text::file-selector-button {
    width: 480px;
    height: 40px;
  }

.Description {
    height: 60px;
}
