.EntradaDeTexto, .Descripcion {
    font-size: 18px;
    height: 40px;
    width: 700px;
    text-align: center;
    content: "";
    background-color: white;
}

.EntradaDeTexto::file-selector-button {
    width: 480px;
    height: 40px;
    background-color: white;
  }

.Descripcion {
    height: 60px;
}
