* {
  color: black;
}

.FormLabel {
  color: black;
  font-size: 16px;
  width: 192px;
  display: inline-block;
  text-align: left;
}

.EtiquetaFormulario2 {
  color: black;
  font-size: 16px;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.FormTitle {
  font-size: 32px;
  color: white;
  width: 100%;
  display: inline-block;
  text-align: center;
  padding-bottom: 20px;
}

.FormularioTitulo2{
  font-size: 24px;
  color: white;
  width: 100%;
  padding-bottom: 20px;
}

.FormularioRequisitos,
.DescripcionCampo {
  font-size: 16px;
  color: white;
}
.DescripcionCampo {
  text-align: center;
  display: block;
  width: 480px;
  margin: auto;
}

.ListBody {
  font-size: 16px;
}

.AtributoEvento1 {
  font-size: 16px;
  color: white;
  display: inline-block;
  text-align: center;
}

.AtributoEvento2 {
  font-size: 16px;
  color: black;
  display: inline-block;
  text-align: center;
}
