* {
    color: black;
}

.FormLabel {
    color: black;
    font-size: 18px;
    width: 192px;
    display: inline-block;
    text-align: left;
}

.FormTitle{
    font-size: 40px;
    color: white;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding-bottom: 20px;
}

.ListBody{
    font-size: 15px;
}

.AtributoEvento1{
    font-size: 24px;
    color: white;
/*    width: 100%; */
    display: inline-block;
    text-align: center;
}

.AtributoEvento2{
    font-size: 12px;
    color: black;
    display: inline-block;
    text-align: center;
}
