* {
    color: black;
}

.FormLabel {
    color: black;
    font-size: 24px;
    width: 192px;
    display: inline-block;
    width: px;
    text-align: left;
}

.FormTitle{
    font-size: 40px;
    color: white;
    text-align: center;
    margin: auto;
}

.ListBody{
    font-size: 15px;
}
