.cardSTi{
    text-align: center;
    font-size: 40px;
}
.cardSectionContent{
    padding-inline: 8%;
    margin: auto;
}

.card{
    padding: 3%;
}
.tituloSeccion{
    width: 100% !important;
}
.buscarSide{
    margin: 0;
    width: 20%;
}