.ContenedorSeleccionarCampo > .Botones {
  height: 64px;
  display: flex;
  justify-content: space-around;
  width: 480px;
  margin: auto;
  padding-top: 16px;
}

.ContenedorSeleccionarCampo > .Select {
    display: flex;
    justify-content: center;
  }

.ContenedorSeleccionarCampo {
  padding-top: 16px;
  padding-bottom: 48px;
}
