.vistaContent{
    width: 83%;
}

.TituloDeSeccion {
    font-size: 32px;
    padding-left: 16px;
}

.Subtitulo {
    color: #153A65;
    font-size: 24px;
    padding-left: 16px;
}

.CentrarContenido {
    display: grid;
    place-content: center;
}

.JustigicarContenidoAlrededor {
    display: flex;
    justify-content: space-around;
}