.ContenedoresAtributo > * {
    margin-bottom: 16px;
  }
  

.ContenderBoton09{
    display: grid;
    place-content: end;
    height: 70px;
}

.ContenderTituloEvento09{
    width: 500px;
    margin: auto;
}

.invisible {
    display: none;
    visibility: hidden;
  }
.contactos, .requisitos, .premios{
  text-align: left;
}