.ContenedorCampo {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
    width: 680px
  };

  .invisible{
    display: none !important;
    visibility: hidden !important;
  }

  .ContenedorEntrada{
    width: 480px;
  }

  .ContenedorEntradaPequeño{
    width: 150px;
  }