.itemContainer, .invisible {
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
  };

  .invisible{
    display: none !important;
    visibility: hidden !important;
  }

  .ContenedorCampo{
    width: 480px;
  }